name: Python CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
      
    - name: Update pip
      run: pip install --upgrade pip

    - name: Install dependencies
      run: pip install -r ../workflows/requirements.txt

    - name: Run Python script
      run: python helloworld.py
