name: Python CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
      
    - name: Update pip
      run: pip install --upgrade pip

    - name: Install dependencies
      run: pip install -r requirements.txt
      
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    - name: Run Python script
      run: python helloWorld.py
    
    - name: Build application
      run: python setup.py build
        
    - name: Generate build artifact
      run: pip install wheel 
    - run: python setup.py sdist bdist_wheel
    - run: mkdir -p build-artifact
    - run: cp dist/* build-artifact/

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: my-application-build
        path: build-artifact/
    - name: Deplay Azure
    
      uses: azure/webapps-deploy@v2
      with:
          publish-profile: ${{ secrets.AZURE_WEBAPP}}
